.container-fluid{height: 100%;}
.login_page{min-height: calc(100% - 200px);}
.login-m{
    margin: 0;
    font: 2.6rem microsoft yahei;
    color: #fff;
}
.form_info{max-width: 400px;}
.inp{
    width: 100%;
    border: 0;outline: 0;
    background: #000000;
    font: 1.2rem microsoft yahei;
    color: #fff;
    padding: 10px 20px;
    bottom: 0;
}
/* 修改谷歌浏览器input 的默认属性 */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #000 inset; 
	-webkit-text-fill-color: #fff;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	-webkit-box-shadow: 0 0 0 1000px #000 inset;
	-webkit-text-fill-color: #fff;
}
.inp-text{width: 25rem;}
.inp-text::before,::after{
    content: "";
    display: table;  
}
.err_phone,.input_pwd,.err_vcode,.err_pwd{
    display: none;
    font-size: 1rem;
    color: #ede816;
}

.input-t{
    width: 100%; height: 3rem;
    border-bottom: 1px solid #fff;
}
.input-t::before{
    content: "";
    display: block;
    height: 50%;
    border-left: 1px solid #fff;
    position: absolute;
    bottom: 0;
    z-index: 9;
}
.label_text{
    font: 1rem microsoft yahei;
    color: #767676;
    position: absolute;
    left: 1rem;bottom: 0.5rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}
.pwd_block{display: none;}
.rise{
    color: #bababa;
    transform: translate(-1rem,-2rem);
}
.button1{
    width: 7rem;height: 2.5rem;
    right: 0;
    background: #000000;
    border: 1px solid #fff;
    font-size: 0.8rem;
    color: #fff;
    margin-top: 2rem;
    bottom: 0.5rem;
    cursor: pointer;
}
.span_text{
    font: 1rem microsoft yahei;
    color: #fff;
}
.slide_block{
    display: none;
    width: 100%;
    border: 1px solid #fff;
    font: 1rem microsoft yahei;
    color: #fff;
}
.slide_btn{
    width: 13%;height: 80%;
    border: 1px solid #fff;
    left: 0px;top: 10%;
    z-index: 5;
    line-height: 2.4rem;
}
.forget{left: 0;margin-top: 2rem;}
.login_pwd{right: 0;margin-top: 2rem;display: inline-block;}
.form_text{
    font: 1rem microsoft yahei;
    color: #fff;
    text-decoration: underline;
}
.form_text:hover{
    font: 1rem microsoft yahei;
    color: #fff;
}
.quick_login{display: none;}
.button2{
    width: 7.5rem;height: 3.5rem;
    font: bold 1rem microsoft yahei;
    color: #ff485b;
    background: rgba(0,0,0,1);
    border: 0;outline: 0;
    border-top: 1px solid #ff485b;
    border-right: 1px solid #ff485b;
    margin: 2rem 0;
    cursor: pointer;
}
.button2:hover{
    border: 0;
    border-bottom: 1px solid #ff485b;
    border-left: 1px solid #ff485b;
    color: #fff;
}
.button2:focus{
    outline: 0;
}
